* {
    box-sizing: border-box;
}

body {
    margin:0 auto;
    background: linear-gradient(to right, #f3494e, #f39e73);
    font-family: "Times New Roman", serif;
}

.container {
    padding: 20px 20px 0 20px;
    background-color: white;
    min-height: calc( 100vh - 20px );
    max-width: 1000px;
    margin: 0 auto;

}

nav {
    background-color: #4157ac;
}
nav ul {
    padding: 0;
    list-style: none;
    margin: 0 auto;

}

nav ul a {
    color: white;
    text-decoration: none;
}
nav ul li {
    padding: 1rem;
    cursor: pointer;
}
nav ul li:hover {
    background-color: #0b1654;
}


/** Menu sencillo **/
.sencillo ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.sencillo ul li{
    text-align:center;
    flex: 1;
}
/******************/

@media screen and (min-width:768px) {
    .sencillo ul {
        flex-direction: row;
    }

}
/*Con iconos*/
.icons ul li a {
    display: flex;
    justify-content:center;
    flex:1;
}

.icons .text {
    font-size: 1.5rem;
}
.icons .icon{
    font-size: 1.5rem;
    flex: 0 0 3rem;
}


.icons .text span {
    font-size: 0.8rem;
    display: block;
    margin-top: 10px;
}
/******************/
@media screen and (min-width:480px) {
    .icons ul {
        display: flex;
        flex-wrap: wrap;
    }
    .icons ul li {
        display: flex;
        flex: 0 0 calc( 50% - 2rem);
    }
}
@media screen and (min-width:768px) {
    .icons ul li {
        display: flex;
        flex: 1;
    }
}

/*desplegable*/
@media screen and (min-width:768px) {
    .desplegable ul {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
    }
}

.desplegable ul li{
    flex-grow: 1;
}

.desplegable ul li ul  {
    margin-top: 1rem;
    width: 100%;
}
/*.desplegable ul li:hover ul {
    display: block;
}*/


.desplegable ul li ul li:hover{
    background-color: #ff5e62;
}
/***********************/
@media screen and (min-width:768px) {
    .desplegable ul li  {
        position: relative;
    }
    .desplegable ul li ul {
        display: none;
        position: absolute;
        top:100%;
        left:0;
    }

    .desplegable ul li:hover ul {
        background-color: #ff5e62;
        margin:0;
        display: block;
    }
}

/*desplegable con redes sociales*/

.navegacion-social-desplegable {
    display: flex;
    background-color: #425aa8;
    justify-content: space-between;
}

.navegacion-social-desplegable .desplegable{
    flex-grow: 1;
}

.social-menu > ul {
    margin-top: 0;
}

.social-menu ul {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: flex-end;
    /*flex:1 0 auto;*/
}

@media (min-width: 768px) {
    .navegacion-social-desplegable > nav {
        flex: 0 0 auto;
    }
}

